{% extends "AppBundle::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
  {{ 'resetting.request.submit'|trans }}
{% endblock %}  

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/app/css/signin.css') }}" />
{% endblock %}  

{% block content %}
  <img src="{{ asset('bundles/app/images/logo.png') }}" alt="Songbird" class="center-block img-responsive" />
  
  <div class="container">
    <div class="text-center">
      <h3>Enter your username or email address</h3>
      <form action="{{ path('fos_user_resetting_send_email') }}" class="form-signin" method="post">
        {% if invalid_username is defined %}
          <div class="alert alert-danger">
            {{ 'resetting.request.invalid_username'|trans({'%username%': app.request.get('username')})}}
          </div>
        {% endif %} 
        <input type="text" id="username" class="form-control" name="username" required="required" 
          value="{{ app.request.get('username') }}" placeholder="{{ 'resetting.request.username'|trans }}"/>
        
        <input type="submit" class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" 
          value="{{ 'resetting.request.submit'|trans }}"/>
      </form>
    </div>
  </div>
{% endblock %}  
