{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block header_logo %}
  <a href="{{ path('dashboard') }}" class="logo" title="">
    <img src="/bundles/app/images/logo.png" alt="" />
  </a>
{% endblock header_logo %} 

{% block page_title %}
  {{ 'dashboard.welcome.title' | trans({}, 'app') }}
{% endblock %}  

{% set urlPrefix = (app.environment == 'dev') ? '/app_dev.php/' : '/' %}

{% block head_javascript %}
  {{ parent() }}
  <script>
    $(function(){
      //select the box on locale
      $('#lang').val('{{ app.request.getLocale() }}');
      //redirect user if user change locale
      $('#lang').change(function(){
        window.location = '{{ urlPrefix }}' + $(this).val() + '/locale';
      });
    });
  </script>
{% endblock head_javascript %}  

{% block user_menu %}
  <span class="sr-only">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</span>
  <i class="fa fa-language" aria-hidden="true">
    <select name="lang" id="lang">
      {% for lang in supported_lang %}
        <option value="{{ lang }}">{{ lang }}</option>
      {% endfor %}  
    </select>
  </i>
  <i class="hidden-xs fa fa-user">
    {% if app.user %}
      <a href="{{ path('easyadmin') }}/?entity=User&action=show&id={{ app.user.id }}">
        {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
      </a>
    {% else %}
      {{ 'user.anonymous'|trans(domain = 'EasyAdminBundle')}}
    {% endif %}  
  </i>
  <i class="hidden-xs fa fa-sign-out">
    <a href="{{ path('fos_user_security_logout') }}">Logout</a>
  </i>  
{% endblock user_menu %}  
